<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <title></title>
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    
    <ul>
    <li> <a href="fluff_result">Upload</a> an image or a cat or a dog and a machine will make a guess as to which one it is. </li>


    <br>
    
    <li>Or <a href="titanic_result">conjure up</a> the demographics of an imaginary person aboard the titanic and a machine will guess as to whether they would've survived or not.</li>
    </ul>
  </body>
</html>
